.btn {
  display: inline-block;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer; 
  background: #ff79c6;
  transition: all .3s ease-in;
}

.btn:hover {
  background: #c43b89;
}